<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>StyleMate</h1>
    <nav>
        <a href="/stylemate/new"> Create a Wardrobe</a>
    </nav>
    <ul>
        <% for(let i = 0; i < item.length; i++) { %>
        <li>
            <h2><%= item[i].title.name %> </h2>
            <a href="/stylemate/<%=item[i].id %>">
                <img src=<%= item[i].title.img %> alt="Cover pic">
            </a>
        </li>
        <% } %>
    </ul>
</body>
</html>