<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your Wardrobe</h1>

    <form action="/stylemate" method="POST" >
       <div>
            <label for="title_name"> Title Name:</label>
            <input type="text" id="title_name" name="title[name]"><br>

            <label for="title_img"> Image:</label>
            <input type="text" id="title_img" name="title[img]"><br>
       </div><br>

        <!-- TOP -->
       <div>
            <div id="topSections" >
                <h3>Top</h3>

                    <div>
                        <label for="top_name"> Top Name:</label>
                        <input type="text" id="top_name" name="tops[name]"><br>

                        <label for="top_img"> Top image:</label>
                        <input type="text" id="top_img" name="tops[img]"><br>

                        <label for="top_description"> Description:</label>
                        <input type="text" id="top_description" name="tops[description]"><br>

                        <label for="top_link"> Link:</label>
                        <input type="text" id="top_link" name="tops[link]"><br>
                    </div><br>
        </div>
                <button type="button" id="addTop" >ADD</button>
       </div>
        <!-- Bottom -->
        <div>
            <div id="bottomSections" >
                <h3>Bottom</h3>
    
                    <div>
                        <label for="bottom_name"> Bottom Name:</label>
                        <input type="text" id="bottom_name" name="bottoms[name]"><br>
    
                        <label for="bottom_img"> Bottom image:</label>
                        <input type="text" id="bottom_img" name="bottoms[img]"><br>
    
                        <label for="bottom_description"> Description:</label>
                        <input type="text" id="bottom_description" name="bottoms[description]"><br>
    
                        <label for="bottom_link"> Link:</label>
                        <input type="text" id="bottom_link" name="bottoms[link]"><br>
                    </div><br>     
            </div>
                <button type="button" id="addBottom" >ADD</button>
        </div>
        <!-- Shoe -->
        <div>
            <div id="shoeSections" >
                <h3>Shoe</h3>
    
                    <div>
                        <label for="shoe_name"> Shoe Name:</label>
                        <input type="text" id="shoe_name" name="shoes[name]"><br>
    
                        <label for="shoe_img"> Shoe image:</label>
                        <input type="text" id="shoe_img" name="shoes[img]"><br>
    
                        <label for="shoe_description"> Description:</label>
                        <input type="text" id="shoe_description" name="shoes[description]"><br>
    
                        <label for="shoe_link"> Link:</label>
                        <input type="text" id="shoe_link" name="shoes[link]"><br>
                    </div><br>    
            </div>
                <button type="button" id="addShoe" >ADD</button>
        </div>
        <!-- Inspiration  -->
        <div>
            <div id="inspirationSections" >
                <h3>Inspiration</h3>
    
                    <div>
                        <label for="inspiration_name"> Inspiration Name:</label>
                        <input type="text" id="inspiration_name" name="inspirations[name]"><br>
    
                        <label for="inspiration_img"> Inspiration image:</label>
                        <input type="text" id="inspiration_img" name="inspirations[img]"><br>
    
                        <label for="inspiration_description"> Description:</label>
                        <input type="text" id="inspiration_description" name="inspirations[description]"><br>
    
                    </div><br>
    
                
            </div>
                <button type="button" id="addInspiration" >ADD</button><br>
        </div>
        <input type="submit" value="submit">
    </form>

    <script type="text/javascript" src="/js/app.js" ></script>
</body>
</html>