h1 {
    color: brown;   
}

h2 {
    position: absolute;
    color: white;
    font-size: 2rem;
    z-index: 1;
}

.topline-container {
    display: flex;
    justify-content: center;
}

.topline {
    height: 3px;
    width: 1200px;
    background-color: black;
    object-position: center;
}
.mainview {
    display: flex;
}

ul {
    margin: 0;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 550px;
    width: 400px;
    object-fit: cover;
    margin: 2rem;
    opacity: .7;
}

.create-box {
    height: 550px;
    width: 400px;
    background-color: gray;
}

.blackback {
    position: absolute;
    background-color: black;
    height: 550px;
    width: 400px;
    /* border: 4px black solid; */
} 
form {
    position: absolute;
    margin-top: 31rem;
    margin-left: 18rem;
}



/* this is for the header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-word {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

.headerpic {
    width: 1000px;
    height: 400px;
    object-fit: cover;
    object-position: center 55%;
    opacity: 1;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* this is for the footer */

.copyright {
    display: flex;
    justify-content: center;
}
