<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/subpage/subnew.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="topline"></div> 
    <main>
        <H1>| Add Shoe |</H1>
        <div class="bottomline"></div>
        <div>
            <div id="shoeSections" >

                    <form action="/shoe/<%= id %>/add" method="POST">
                        <div class="container">
                            <h2>| Name |</h2>
                            <label for="name"></label>
                            <input type="text" id="name" name="name"><br>
                            
                            <h2>| Image |</h2>
                            <label for="img"></label>
                            <input type="text" id="img" name="img"><br>
                            
                            <h2>| Description |</h2>
                            <label for="description"></label>
                            <input type="text" id="description" name="description"><br>
                            
                            <h2>| Link |</h2>
                            <label for="link"></label>
                            <input type="text" id="link" name="link"><br>
    
                            <input class="submit" type="submit" value="ADD">
                        </div><br>
                    </form>
            </div>
    </div>
    </main>
    <div class="topline"></div> 
    <%- include('../partials/footer.ejs') %>
</body>
</html>