
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.title-page {
    margin: 30px;
}

.topline {
    height: 3px;
    width: 1200px;
    background-color: black;
    object-position: center;
}

.wardrobe-container {
    margin: 20px;
    height: 100%;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    gap: 30px;
}

/* .clothe-info {
    display: flex;
    flex-direction: column;
} */

img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    
}

p {
    height: auto;
    width: 300px;
    padding: 10px;
}

.edit-delete-container {
    display: flex;
    
}

/* this is for the header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-word {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

.headerpic {
    width: 1000px;
    height: 400px;
    object-fit: cover;
    object-position: center 55%;
    opacity: 1;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}